<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleCIEL.css') }}">
</head>
<body>
    <header>
        <h1>Cyber Sécurité</h1>
        <p>Protégez-vous en ligne</p>
    </header>

    <section>
        <h2>Conseils de Sécurité</h2>
        <p>Assurez-vous d'utiliser des mots de passe forts et uniques pour chaque compte en ligne. Utilisez des outils de gestion des mots de passe pour faciliter cela.</p>
        <p>Mettez à jour régulièrement vos logiciels et systèmes d'exploitation pour bénéficier des dernières protections de sécurité.</p>
        <p>Évitez de cliquer sur des liens suspects ou de télécharger des pièces jointes provenant d'expéditeurs inconnus.</p>
        <p>Activez l'authentification à deux facteurs lorsque cela est possible pour une couche supplémentaire de sécurité.</p>
        <p>Surveillez vos comptes en ligne pour détecter toute activité suspecte et signalez-la immédiatement.</p>
        <p>Partagez ces conseils avec vos amis et votre famille pour les sensibiliser à la sécurité en ligne.</p>
    </section>

    <footer>
        <p>&copy; 2023 CyberSécurité Informatique & Réseau Electronique</p>
    </footer>
</body>
</html>