<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleEtudesSup.css') }}">
    <title>Études Supérieures</title>
</head>
<body>

    <header>
        <h1>Études Supérieures</h1>
        <p>Préparez votre avenir académique</p>
    </header>

    <section>
        <h2>Choix de la filière</h2>
        <p>La sélection d'une filière d'études supérieures est une étape cruciale. Prenez le temps de bien comprendre vos intérêts, vos passions et vos objectifs de carrière.</p>
        <p>Explorez différentes options et consultez des conseillers d'orientation pour prendre une décision éclairée.</p>
    </section>

    <section>
        <h2>Préparation aux examens</h2>
        <p>La réussite aux examens d'entrée est souvent essentielle pour accéder aux programmes de premier cycle. Élaborez un plan d'étude solide et utilisez des ressources telles que des livres, des cours en ligne et des groupes d'étude.</p>
    </section>

    <section>
        <h2>Financement des études</h2>
        <p>Explorez les options de financement des études, y compris les bourses, les prêts étudiants et les programmes de travail-études. Créez un budget réaliste pour couvrir les frais de scolarité, les livres et les dépenses courantes.</p>
    </section>

    <footer>
        <p>&copy; 2023 Études Supérieures.</p>
    </footer>

</body>
</html>