<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styleIndex.css') }}">
        <title>Page d'Accueil</title>
    </head>
    <body>
    
        <header>
            <div class="container">
                <h1>Bienvenue sur le Portail Éducatif</h1>
                <p>Bienvenu(e) sur notre site</p>
            </div>
        </header>
    
        <section class="main-content">
            <div class="container">
                <h2>Sections</h2>
                <ul>
                    <li><a href="snir">SNIR - Systèmes Numériques et Informatiques Réseaux</a></li>
                    <li><a href="ciel">CIEL - Cloud, Infrastructure et Environnement Logiciel</a></li>
                    <li><a href="etudes-sup">Études Supérieures</a></li>
                </ul>
            </div>
        </section>
    
        <footer>
            <div class="container">
                <p>&copy; 2023 ACCUEIL</p>
            </div>
        </footer>
    
    </body>
    </html>