<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSNIR.css') }}">
    <title>Systèmes Numériques et Réseaux</title>
</head>
<body>

    <header>
        <div class="container">
            <h1>Systèmes Numériques et Réseaux</h1>
            <p>Explorez le monde de l'informatique et des réseaux</p>
        </div>
    </header>

    <section class="main-content">
        <div class="container">
            <h2>Architecture des Systèmes</h2>
            <p>Découvrez l'architecture des systèmes informatiques, y compris les processeurs, la mémoire, et les périphériques. Comprenez comment ces composants interagissent pour former un système fonctionnel.</p>
        </div>
    </section>

    <section class="main-content">
        <div class="container">
            <h2>Réseaux Informatiques</h2>
            <p>Apprenez les fondamentaux des réseaux informatiques, des protocoles de communication aux concepts de routage. Explorez les différents types de réseaux, tels que les réseaux locaux (LAN) et les réseaux étendus (WAN).</p>
        </div>
    </section>

    <section class="main-content">
        <div class="container">
            <h2>Sécurité Informatique</h2>
            <p>Plongez dans le domaine de la sécurité informatique en apprenant les meilleures pratiques pour protéger les systèmes et les réseaux. Explorez les méthodes de prévention des attaques et de récupération après une violation de la sécurité.</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Systèmes Numériques Informatiques & Réseaux.</p>
        </div>
    </footer>

</body>
</html>